{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	{% for sejour in sejours %}
		<div>
		<div class="sejoursCard">
	<img src="{{ asset('images/'~ sejour.image) }}" alt="">
			<div class="sejourCardText1">
				<h3>{{ sejour.titre }}
				</h3>
				<p>
					{{  sejour.ville }}
				</p>
			</div>
			<div class="sejourCardText2">
				<h3>A Partir de {{ sejour.prix }}
				</h3>
				<strong>
					{{ sejour.duree }}
				</strong>
				<div id="button">
					<a href="#" class="other3">Decouvrir</a>
					<a href="{{ path('sejours') }}" class="other3">Decouvrir nos autre sejours</a>
				</div>

			</div>
		</div>
	{% endfor %}
{% endblock %}
