{% extends 'base.html.twig' %}

{% block title %}Centrale Sejours Sports
{% endblock %}
{% block javascripts %}
	{{parent()}}
	<script src="{{asset('js/app.js')}}"></script>
{% endblock %}
{% block body %}
	<section id="header">
		<div class="caroussel">
			<img src="{{ asset('images/thumbnail.jpg') }}" alt="" class="flyers">
		</div>
		<div class="head">
			<img class="" src="{{ asset('images/SLogo.png') }}" alt="" id="logoHome">
			<h1>Centrale<br>
				<span id="SejoursSpan">Sejours</span>
				Sports</h1>
		</div>
		<h1 id="head-text" class="animate__animated  animate__fadeInLeft">Leurs
			<span>Passion
			</span>
			<br>
			<span>Notre</span>
			Metier
		</h1>

	</div>
</section>

<section id="sejours">
	<div id="sejour">
		<div class="sejoursCard reveal-1">
			{% for SejoursCaroussel in SejoursCaroussels %}
				{% if SejoursCaroussel.sejours.id == sejours.id  %}
					<img src="{{ asset('images/'~ SejoursCaroussel.picture) }}" alt="" class="slide sejourscardimage">
					{% else %}
				{% endif %}
			{% endfor %}
			<button id="Prev">
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewbox="0 0 16 16">
					<path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
				</svg>
			</button>
			<button id="Next">
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewbox="0 0 16 16">
					<path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
				</svg>
			</button>
			<div class="sejourCardText1 reveal-2">
				<h3>{{ sejours.titre | raw}}
				</h3>
				<p class="ville">
					{{  sejours.ville }}
				</p>
			</div>
			<div class="sejourCardText2 reveal-3">
				<h3 class="sansTransport">
					{{ sejours.prix }}

				</h3>
				<p class="duree">
					{{ sejours.duree }}
					2021
				</p>
				<div id="button">
					<a href="{{ path('decouvrir_by_id', { id:sejours.id }) }}" class="other3">Decouvrir</a>
					{# <a href="{{ path('sejours') }}" class="other3">Decouvrir nos autre sejours</a> #}
				</div>

			</div>
		</div>
	</div>
</section>
<section>
	<div class="container-fluid video">
		<h1>Decouvrez La base du sejour</h1>
		<video src="{{ asset('video/file.mp4') }}" controls></video>
	</div>

</section>

<section id="Info" class="reveal-1">
	<h1 class="reveal-3">Qui somme nous
	</h1>
	<p class="reveal-3">La structure Centrale Séjours Sports à pour but de favoriser la pratique d’activités sportives dont les valeurs s’inspirent de l’esprit et des méthodes des créateurs du sport moderne et la pédagogie active afin de permettre l’épanouissement de chacun. A cet effet on organise entre autres des séjours de vacances et des stages sportifs pour les enfants et adolescents</p>
</section>
{# <section id="inscirption" class="reveal-3">
	<h1>Rejoignez-nous dès maintenant !</h1>
	<div id="inscriptionBlock">
		<div id="inscriptionText" class="reveal-3">
			<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur culpa cupiditate accusantium ea quia totam ratione alias laborum velit, nostrum deserunt rerum ducimus quo placeat tenetur numquam non iure quam.</p>
			<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur culpa cupiditate accusantium ea quia totam ratione alias laborum velit, nostrum deserunt rerum ducimus quo placeat tenetur numquam non iure quam.</p>
		</div>
		<div id="inscriptionButton" class="reveal-3">
			<a href="{{ path('inscription') }}" class="other2">Inscription</a>
		</div>
	</div>

</section> #}
<section id="Covid" class="reveal-1">
	<h1 class="reveal-3">Centrale Sejours Sports</h1>
	<div class="row">
		<div class="col-md-6">
			<p class="reveal-3">
				s'engage sur le protocole COVID-19 à respecter les gestes barrières durant le stage.<br>Mise à dispositions du gel hydroalcoolique ainsi que de masques.
				<br>
				Tous les matins, un animateur prendra la température de votre enfant avant de commencer les activités.<br>Une Chambre COVID sera mise en place.
			</p>
		</div>
		<div class="col-md-6">
			<img src="{{ asset('images/covid.jpg') }}" alt="" id="covidImage" class="rotating">
		</div>
	</div>
</section>
<section id="Partenaire" class="reveal-3">
	<h1>Nos Partenaires</h1>

	<div class="partenaires">
		<img src="{{ asset('images/rSport+.png') }}" alt="" class="partenaire">
		<img src="{{ asset('images/ifri.png') }}" alt="" class="partenaire">
		<img src="{{ asset('images/centrale.png') }}" alt="" class="partenaire">
	</div>


</section>{% endblock %}
