{% extends 'base.html.twig' %}

{% block title %}Projet Educatif
{% endblock %}
{% block javascripts %}
	{{parent()}}
	<script src="{{asset('js/app.js')}}"></script>
{% endblock %}
{% block body %}
    <img src="{{ asset('images/CssLogoCopie.png') }}" alt="logo" id="logoPe">
    <h1 id="CSS">Centrale <span>Sejours</span>  sports
    </h1>
    <h1>Projet Educatif</h1>
    <p>La structure Centrale Séjours Sports à pour but de favoriser la pratique d’activités sportives dont les valeurs s’inspirent de l’esprit et des méthodes des créateurs du sport moderne et la pédagogie active afin de permettre l’épanouissement de chacun.
        A cet effet on organise entre autres des séjours de vacances et des stages sportifs pour les enfants et adolescents</p>
<div class="col">
    <div>
        <h2>PUBLIC CONCERNÉ</h2>
        <p>Les activités de notre structure sont ouvertes à tous sans distinction sociale, politique, confessionnelle ou d’origine ethnique.</p>
    
    </div>
    <div>
        <h2>OBJECTIFS</h2>
        <p>Permettre aux enfants et adolescents de poursuivre le développement de leur personnalité d’une façon harmonieuse d’un point de vue social, moral, affectif, physique, culturel et spirituel, au cours d’un temps de vacances ludique et sportif.</p>    
    </div>
</div>


    <h2>1.Social, Moral et Affectif</h2>
    <ul>
        <li>Vivre en collectivité</li>
        <li>Trouver son identité tout en s’intégrant dans le groupe et son cadre
        </li>
        <li>Développer son autonomie</li>
        <li>Apprendre à accueillir et à vivre avec toute personne, venant de tout milieu</li>
        <li>Favoriser l’échange</li>
        <li>Vivre dans le respect mutuel des choses, des lieux, des idées et des hommes</li>
        <li>amener l’enfant à découvrir des pratiques variées favoriser acquisition de savoir technique</li>
        <li>favorisez la tolérance l’expression de la solidarité et la reconnaissance de la diversité</li>
        <li>favoriser l’ouverture des activités en incitant la mixité fille / garçon et les passerelles entre tranche d’age</li>

    </ul>

    <h2>2. Physique</h2>
    <div class="col2">
        <div>
            <p>Les pratiques sportives fédérales traditionnelles sur lesquelles nous nous appuyons sont choisies pour l’intérêt qu’elles suscitent auprès des enfants et des jeunes, ainsi que pour les perspectives éducatives qu’elles ouvrent. Nous les adaptons, les corrigeons, sans les dénaturer, pour les rendre formatrices afin de :

                Développer la motricité de chacun de façon adaptée à son âge et ses capacités
                Permettre l’expression corporelle, sportive…
                Aider à découvrir ses capacités et les développer
                Aider à développer son autonomie en acquérant des savoirs techniques</p>
        </div>
        <div>
            <img src="{{ asset('images/CssLogoCopie.png')}}" alt="logo" id="logo2PE">
        </div>
        
    </div>
    
    <h2>3. Culturel</h2>
    <ul>
        <li>Découvrir la culture sportive : éthique ; respect de l’adversaire, du coéquipier, de l’arbitrage et des règles ; sens de l’effort ; coopération</li>
        <li>Découvrir les autres cultures présentes dans le groupe ; échanger</li>
        <li>Sensibiliser à l’environnement naturel, culturel, traditionnel…</li>
    </ul>
    <h2>MOYENS :</h2>
    <h3>Équipements agréés et encadrement qualifié</h3>
    <p>Tant dans l’intérêt de la sécurité des enfants et des adolescents que pour mériter la confiance de leurs parents, nous voulons maintenir dans nos séjours un haut niveau d’exigence de qualité, c’est pourquoi notre structure offre tout particulièrement :</p>
    <ul>
        <li>Un encadrement qualifié (directeurs et animateurs souvent de surcroît diplômés en encadrement sportif brevet d ‘État Bafa Bepjeps et cff 2</li>
        <li>Des équipes d’encadrement compétentes, cohérentes, soudées autour de projets pédagogiques conformes à nos principes</li>
        <li>Des équipements agréés</li>
        <li>Des sites intéressants et offrant de nombreuses possibilités d’animations</li>
        <li>Des activités performantes et attrayantes</li>
        <li>Des animations en soirée de qualité</li>
    </ul>

    <p>Les directeurs et les animateurs des séjours collaborent habituellement pendant plusieurs années. Ceci nous permet de conserver des équipes stables et très engagées dans leur travail auprès des enfants.
        Ce projet éducatif est présenté aux équipes pédagogiques. Celles-ci ‘élaboration ensemble le projet pédagogique lors d’un week-end de préparation et de formation, sous l’autorité de l’équipe de direction.
        La structure s’engage à travailler avec toutes ses équipes dans la transparence et le sens des responsabilités, auprès des familles, des administrations, des autorités et des participants.
        Elle se donne les moyens d’informer, de prévenir tout risque ou dérapage et d’assurer la sécurité et l’intégrité des personnes dont elle a la charge.</p>

<p id="end">Centrale Séjours Sports Société Action Simplifié
    Siège Social : 86 BOULEVARD FÉLIX FAIRE – 93300O Aubervilliers Cedex
    Informations : 0665640203</p>


{% endblock %}
