body {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans Condensed', sans-serif;
    width: 100%;
    overflow-x: hidden;
}
.footer{
    background-color: rgb(253, 165, 49);
    height: 6vh;
    padding: 20px;
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
}
/* ============================================================
BLOG
=========================================================== */
.blog{
    min-height: 100vh;
}
.blogArticle{
    display: flex;
    flex-direction: column-reverse;
    text-overflow: ellipsis;
    word-wrap: break-word;
}
.blogHead{
    flex-direction: column;
    min-width: 50vw;
    padding: 50px;
}
.blogArticle img {
    width: 100%;
}
/* ============================================================
BLOG
=========================================================== */
.ML{
    min-height: 100vh;
    
}
.ML li{
    list-style: none;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;

}

.navbar-toggler {
    border: none;
}

/* GESTION DES L'ANIMATION DES IMAGES */
/* ================================================================ */
img {
    z-index: 1;

    height: 102%;
    width: 100%;
    position: relative;

}

.img {
    display: none;
    animation: fadein 3.7s;
}

.flyers{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: auto;
}
.active {

    display: block;

}

/* ================================================================ */
/* TITRE ET TEXTE DE PRESENTATION  */
/* ================================================================ */


#head-text {
    font-weight: bold;
    margin: 20px 5px;
    color: rgb(0, 0, 0);
    position: relative;
    z-index: 3;
    width: 100%;
}

.caroussel {
    position: relative;
    overflow: hidden;
    height: 65vh;
}

.head {
    position: relative;
    z-index: 2;
    overflow: hidden;
    height: 20vh;
    width: 100%;
    background-color: rgba(2, 2, 20, 0.966);

}

.head h1 {
    font-family: 'jersey_m54regular', 'sans-serif';
    color: rgb(0, 195, 255);
    padding: 50px;
}

.head span {
    color: rgb(253, 165, 49);
}


#logoHome {
display: none;
}
/* ================================================================ */

/* Boutton */
/* ================================================================ */

.other3 {
    padding: 10px 100px;
    background-color: #f5ab34;
    color: antiquewhite;
    border-radius: 5px;
    text-align: center;
    margin: 20px 0;
    z-index: 3;
    position: relative;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

#button {
    display: flex;
    flex-direction: column;
}

/* ================================================================ */


#logo {
    height: 0px;
}


#logo2 {
    width: 30px;
    height: auto;
    display: none;
    position: relative;
    top: 10%;
    left: 10%;
    z-index: 10;
}

#headLogo {
    height: 30vh;
    width: auto;
}

.sejoursCard {
    height: 100vh;
    width: 100%;
    overflow: visible;
    margin: 0px 0px 50px 0px;
    background-color: rgb(255, 255, 255);
    position: relative;
}

.sejoursCard img {
    height: auto;
    width: 100vw;
    position: relative;
}
.sejourscardimage{
    width: 100vw;
    height: auto;
}

.sejourCardText1 {
    padding: 20px;
    position: relative;
    top: -50px;
    z-index: 5;
    background-color: rgb(255, 255, 255);
}

.sejourCardText2 {
    padding: 20px;
    position: relative;
    top: -50px;
}

#sejour {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 150vh;
}

.reveal-1 {
    opacity: 0;
    transform: translateY(-50px);
}

.reveal-3 {
    opacity: 0;
    transform: translateY(-100px);
    transition-delay: .3s;
}

.reveal-visible {
    opacity: 1;
    transform: translateY(0);
    transition: 1.5s cubic-bezier(.4, .2, .25, .96);
}

/* Section qui somme nous */
/* ================================================================ */
#Info h1 {
    text-align: center;
}

#Info p {
    margin: 10%;
    font-weight: bold;
}

#Info {
    background-color: #f5ab34;
    margin-top: 20%;
    height: 60vh;
    padding: 50px 0px;
    color: white;
    z-index: 5;
}

#Info p {
    margin: 10%;
    font-weight: bold;
    font-size: 30px;

}

#inscirption {
    text-align: center;
    height: 70vh;
    padding: 50px;
    background-color: rgb(0, 195, 255);
    color: white;
    font-weight: bold;
    font-size: 30px;
    z-index: 3;
}

#inscriptionBlock {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

#inscriptionText {
    text-align: left;
    padding-left: 0px;
    width: 100%;
}

#inscriptionButton {
    width: 100%;
    padding: 50px 0px;
}
.video{
    position: relative;
    top: 0px;
    height: 50vh;
    align-items: center;
    text-align: center;
    margin-top: 50px;
}
.video video{
    width: 100vw;
}
.slide {
    display: none;
}
#Info {
    background-color: #f5ab34;
    height: auto;
    padding: 20px;
    color: white;
    position: relative;
    z-index: 5;
}
#Info p{
    font-size: 20px;
    margin: 0;
}
#inscirption {
    text-align: center;
    height: min-content;
    padding: 100px 20px 0px 20px;
    background-color: rgb(0, 195, 255);
    color: white;
    font-weight: bold;
    position: relative;
    top: 0px;
    z-index: 3;
}
#inscirption p{
    font-size: 20px;
    margin: 0;
}
#Covid {
    height:max-content;
    padding: 20px;
    position: relative;
    z-index: 2;
}
#Covid p{
    font-size: 20px;
}
#Partenaire{
    text-align: center;
    height: 30vh;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 30px;
    position: relative;
    top: 0px;
    z-index: 3;  
}
.partenaires{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        text-align: center;
    }
.partenaire{
        width: 50vw;
        height: auto;
    }
    #form {
        width: 100%;
        position: absolute;
        left: 0%;
        top: 20%;
        background-color: rgb(243, 243, 243);
        z-index: 5;
        padding: 30px;
        border-radius: 10px;
        transform: translateX(110%);
        filter: blur(0);
        transition: transform 0.7s cubic-bezier(.36, 1.21, .48, .99);
    }
/* ================================================================ */
@media screen and (min-width: 726px) {
    .sejourscardimage{
        width: 100vw;
        height: auto;
    }
    #header{
        position: relative;
    }
    #head-text {
        font-weight: bold;
        margin: 20px 5px;
        color: rgb(255, 255, 255);
        position: absolute;
        left: 60%;
        bottom: 6%;
        z-index: 3;
        width: 100%;
    }
    
.caroussel {
    position: relative;
    overflow: hidden;
    height: 105vh;
}
.video video{
    width: 100%;
}
#Covid{
    margin: 40px;
}
#Covid h1{
    margin: 50px 0px;
}
#Partenaire h1 {
    margin: 50px;
}
.partenaire{
    margin: 50px;
}
}


@media screen and (min-width: 1028px) {

    /* ============================================================
BLOG
=========================================================== */
.blog{
    min-height: 100vh;
}
.blogArticle{
    display: flex;
    flex-direction: row;
    text-overflow: ellipsis;
    word-wrap: break-word;
}
.blogHead{
    flex-direction: column;
    min-width: 50vw;
    padding: 50px;
}
.blogArticle img {
    width: 70%;
}
/* ============================================================
BLOG
=========================================================== */
    #logoHome {
        display: block;
        width: 200px;
        height: auto;
        position: relative;
        left: 50%;
        top: 5%;
        transform: translate(-50%, -0%);
    }

    .head {
        position: relative;
        top: -100vh;
        z-index: 1;
        overflow: hidden;
        height: 100vh;
        width: 50vw;
        background-color: rgba(2, 2, 20, 0.966);

    }
    .head h1 {
        font-family: 'jersey_m54regular', 'sans-serif';
        color: rgb(0, 195, 255);
        padding: 50px;
        text-align: center;
        margin-top: 50px;
    }
    
    .head span {
        color: rgb(253, 165, 49);
    }
    
    #head-text {
        font-family: 'jersey_m54regular', 'sans-serif';
        font-size: 50px;
        color: rgb(255, 255, 255);
        position: relative;
        top: -150vh;
        left: 0;
        z-index: 3;
        width: 50%;
        text-align: center;
        padding: 0 80px;
    }

    .caroussel {
        position: relative;
        overflow: hidden;
        height: 100vh;
    }
    .flyers{
        position: absolute;
        top: 0;
        right: 0;
        width: 50%;
        height: 100%;
    }
    /* Boutton */
    /* ================================================================ */
    .other2 {
        padding: 10px 100px;
        background-color: #f5ab34;
        border-radius: 5px;
        text-align: center;
        margin: 20px 0;
        z-index: 3;
    }

    .other3 {
        padding: 10px 100px;
        background-color: #f5ab34;
        color: antiquewhite;
        border: none;
        text-align: center;
        margin: 20px 0;
        z-index: 3;
        position: relative;
    }

    a {
        color: white;
        text-decoration: none;
        font-weight: bold;
    }

    #button {
        display: flex;
        flex-direction: column;
    }

    /* ================================================================ */


    #header {
        height: 100vh;
    }



    .sejoursCard {
        height: max-content;
        width: 60vw;
        overflow: hidden;
        margin: 100px 0px;
        background-color: rgb(255, 255, 255);
        position: relative;
    }

    .sejoursCard img {
        height: 70vh;
        position: relative;
    }
    .ville{
        color: rgb(6, 59, 75);
    }
    .sansTransport{
        color: orange;
    }
    .avecTransport{
        color: rgb(0, 195, 255);
    }
    .duree{
        font-size: 25px;
    }

    #Prev {
        position: absolute;
        top: 25%;
        left: 0%;
        z-index: 15;
        padding: 30px;
        border: none;
        background-color: rgba(0, 0, 0, 0.322);
        color: white;
        font-size: 30px;
    }

    #Next {
        position: absolute;
        top: 25%;
        right: 0%;
        z-index: 15;
        padding: 30px;
        border: none;
        background-color: rgba(0, 0, 0, 0.322);
        color: white;
        font-size: 30px;
    }
    .video{
        position: relative;
        top: 200px;
        height: 100vh;
        align-items: center;
        text-align: center;
        margin-top: 50px;
    }
    .partenaires{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .partenaire{
        width: 100px;
        height: auto;
        
    }
    .sejourCardText1 {

        background-color: rgb(250, 250, 250);
        width: 40vw;
        position: relative;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    
    }
    
    .sejourCardText2 {
        padding: 20px;
        width: 40vw;
        position: relative;
        left: 50%;
        top: 50px;
        transform: translate(-50%, -50%);
    }

    .sejourCardText1Id {
        padding: 20px;
        position: absolute;
        top: 20%;
        width: 50vw;
        background-color: rgb(255, 255, 255);
        z-index: 5;
    }
    .sejourCardText2Id {
        padding: 20px;
        width: 50vw;
        background-color: rgb(255, 255, 255);
        position: absolute;
        left: 0%;
        top: 30%;
        z-index: 5;
    }
    
    
    #sejour {
        display: flex;
        justify-content: space-around;
        height: 100vh;
    }
    
    #Bg {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.527);
        height: 110vh;
        width: 100vw;
        z-index: 4;
        opacity: 0;
    }
    
    /* .sejoursCard img:hover {
            transform: scale(111%);
            transition: transform 0.5s;
        } */
    #sejour {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    #Info {
        background-color: #f5ab34;
        height: auto;
        padding: 50px;
        color: white;
        position: relative;
        z-index: 5;
    }
    
    #Info h1 {
        font-weight: bold;
        margin: 0px 0px 60px 0px;
    }
    
    #info p {
        font-size: 20px;
    
    }
    
    #inscirption {
        text-align: center;
        height: max-content;
        padding: 50px 20px 20px 20px;
        background-color: rgb(0, 195, 255);
        color: white;
        font-weight: bold;
        position: relative;
        top: 0px;
        z-index: 3;
    }
    #inscirption p {
        font-size: 20px;
    }
    #Covid p{
        font-size: 20px;
    }
    #Partenaire{
        text-align: center;
        align-items: center;
        height: 30vh;
        padding: 90px;
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        font-weight: bold;
        position: relative;
        top: 0px;
        z-index: 3;  
    }
    #inscriptionBlock {
        display: flex;
        flex-direction: row;
        margin-top: 50px;
    }
    
    #inscriptionText {
        text-align: left;
        padding-left: 50px;
        width: 50%;
    }
    
    #inscriptionButton {
        width: 50%;
        padding: 50px;
        border: none;
    }
    
    #form {
        width: 50vw;
        position: absolute;
        left: 50%;
        top: 10%;
        background-color: rgb(243, 243, 243);
        z-index: 5;
        padding: 30px;
        border-radius: 10px;
        transform: translateX(100%);
        filter: blur(0);
        transition: transform 0.7s cubic-bezier(.36, 1.21, .48, .99);
        overflow: scroll;
    }
    
    #connect {
        color: black;
        background-color: #f5ab34;
        border-radius: 5px;
        padding: 15px;
    }
    

    .sanitaire {
        color: rgb(0, 195, 255);
        font-size: 20px;
    }
    .sanitaire:hover{
        color: #f5ab34;
    }
    .video video{
        width: 80vw;
    }

    /* FORMULAIRE */
    .besoins{
        margin: 50px 0px;
    }
    #covidImage{
        width: 50%;
        position: relative;
        top: -200px;
        left: 100px;
    }
    @keyframes zoom {
        from{
            transform: scale(1);
        }
        50%{
            transform: scale(1.07);
        }
        to{
            transform: scale(1);
        }
    }
     
    .rotating {
        animation: zoom 1s linear infinite;
    }
    }
    
    


