
.pe body {
    overflow:none; /*pour supprimer les 2 defilements*/
    } 
#logoPe{
    width: 20vw;
    height: auto;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}
#logo2PE{
    width: 20vw;
    height: auto;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    display: none;
}
#CSS{
    font-family: 'jersey_m54regular';
    text-align: center;
    margin: 50px;
    color: rgb(20, 194, 247);
}
#CSS span{
    font-family: 'jersey_m54regular';
    color: rgb(247,127,0);
}
.pe h1{
    text-align: center;
    font-size: 2rem;
    color: rgb(20, 194, 247);
}
.pe h2{
    color: rgb(247,127,0);
    text-align: center;
}
.pe h3{
    color: rgb(20, 194, 247);
    text-align: center;
    margin: 60px;
}
.pe p{
    margin: 30px 20px;
}
#end{ 
    background-color: rgb(11, 125, 160);
    color: whitesmoke;
    font-weight: bold;
    margin: 50px 0 0 0;
    height: 3em;
    text-align: center;
    padding-top: 10px;
}



@media screen and (min-width: 760px){
    
    #logoPe{
        width: 20vw;
        height: auto;
        position: relative;
        left: 50%;
        transform: translate(-50%);
    }
    #logo2PE{
        width: 20vw;
        height: auto;
        position: relative;
        left: 50%;
        transform: translate(-50%);
        display: block;
    }
    #CSS{
        font-family: 'jersey_m54regular';
        text-align: center;
        margin: 50px;
        color: rgb(20, 194, 247);
        font-size: 2rem;
    }
    #CSS span{
        font-family: 'jersey_m54regular';
        color: rgb(247,127,0);
        font-size: 2rem;
    }
    .pe h1{
        text-align: center;
        font-size: 2rem;
        color: rgb(20, 194, 247);
        margin: 200px;
    }
    .pe h2{
        color: rgb(247,127,0);
        margin: 30px;
    }
    .pe h3{
        color: rgb(20, 194, 247);
        margin: 30px;
    }
    .pe p{
        margin: 0 30px;
    }
    .col{
        display: flex;
    }
    .col div{
        margin: 50px;
        width: 50%;
    }
    .col div h2{
        text-align: center;
    }
    .col2{
        display: flex;
    }
    .col2 div{
        margin-top: 50px;
        width: 50%;
    }
    .col2 div:first-child{
        width: 100%;
    }
    .col2 div h2{
        text-align: center;
    }
    .pe li{
        margin: 0 60px;
        list-style: decimal;
    }
    #end{ 
        margin: 50px 0;
    }
}