{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
<div class="container">
    {{ form_start(form) }}
    <button class="btn btn-primary"> Envoyer </button>
    {{ form_end(form) }}

</div>
{% endblock %}
