{% extends 'base.html.twig' %}

{% block title %}Mentions Legales{% endblock %}

{% block body %}

<div class="container ML">
    <h1>Mentions Légales</h1>
    <ul>
        <li>Centrale Séjours Sports</li>
        <li>Siège Social: <span> 86 Boulevard Félix Faure, 93300 Aubervilliers</span></li>
        <li>Telephone: 01 01 01 01 01</li>
        <li>Mail: centralesejours@sport.fr </li>
    </ul>
</div>
{% endblock %}
