{% extends 'base.html.twig' %}

{% block title %}Mentions Legales{% endblock %}

{% block body %}

<div class="container ML">
    Lors de votre inscription, vos données personelle seront concervé pour une durée d'1ans, si vous souaiter qu'on supprime vos information, n'hesitez pas a nous contacter et nous nous engageons a effacer vos information. 
    Nous n'établissons aucune démarche comercial avec vos données. 
</div>
{% endblock %}
