{% extends 'base.html.twig' %}

{% block title %} Merci de votre Inscription {% endblock %}

{% block body %}
<div class="container mt-4">
    <h1 style="color: rgb(0, 195, 255)">Votre inscription a bien été envoyé </h1>
    <h2>Vous allez recevoir un mail de confirmation </h2>
<h2> Pour valider votre inscription, veuillez telecharger la fiche sanitaire ci-dessous ainsi que le trousseau et nous les renvoyer par mail compléter cette adresse : <a href="mailto:centralesejours@sport.fr" style="color: #f5ab34">centralesejours@sport.fr</a>
</h2>
<div class="row">

    <div class="mt-4">
    <a href="{{ asset('documents/FicheSanitaire.pdf') }}" class="sanitaire"> Fiche sanitaire à telecharger</a>
    
</div>
<div>
    <a href="{{ asset('documents/Trousseau.pdf') }}" class="sanitaire"> Trousseau telecharger</a>
</div>
</div>

<br>
</div>

{% endblock %}
