{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur notre blog
{% endblock %}

{% block body %}
	<div class="blog">

        {% if Blog is empty  %}
            <div class="container mt-4">
            <h1>Blog en cours de construction</h1>
            <p>Retrouver prochainement les photos de nos sejours </p>
            
            </div>

            {% endif %}
		{% for blog in Blog %}

            <div class="blogArticle">
                <div class="blogHead">
                    <h1>{{ blog.titre }}</h1>
                    <small> {{ blog.createdAt | date }} </small>
                    <p> {{ blog.texte | raw }} </p>
                </div>
                <div class="blogIMG">
                    <img src="{{ asset('images/'~ blog.media) }}" alt="" class="">
                </div>
            </div>

        {% endfor %}


	</div>
{% endblock %}
