{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    	<section style="height: 100vh" class="container formulaire">
            {{ form_start(inscriptionForm) }}
				<div class="row">
					<div class="col-md-6">					
					{{ form_row(inscriptionForm.Nom) }}
					{{ form_row(inscriptionForm.Prenom) }}
					{{ form_row(inscriptionForm.taille) }}
					</div>
					<div class="col-md-6">
					{{ form_row(inscriptionForm.naissance) }}
					</div>

					
					<div class="col-md-6">
					{{ form_row(inscriptionForm.adresse) }}
					</div>
					<div class="col-md-6">
					{{ form_row(inscriptionForm.postal) }}
					</div>
					
					<div class="col-md-6">
					{{ form_row(inscriptionForm.ville) }}
					</div>
					<div class="col-md-6">
					{{ form_row(inscriptionForm.numero) }}
					</div>
					{{ form_row(inscriptionForm.mail) }}

					
					
					
					{{ form_row(inscriptionForm.sejours) }}
					{{ form_row(inscriptionForm.voyage) }}
					{{ form_row(inscriptionForm.transport) }}
					{{ form_row(inscriptionForm.paiement) }}
					<div class="col-md-6 besoins">
						<p> Première personne à prevenir en cas de besoin </p>
						{{ form_row(inscriptionForm.accidentPersonne1) }}
						{{ form_row(inscriptionForm.accidentPersonne1Prenom) }}
						{{ form_row(inscriptionForm.accidentPersonne1Telephone) }}
						
					</div>
					<div class="col-md-6 besoins">
						<p> Deuxième personne à prevenir en cas de besoin </p>
						{{ form_row(inscriptionForm.accidentPersonne2) }}
						{{ form_row(inscriptionForm.accidentPersonne2Prenom) }}
						{{ form_row(inscriptionForm.accidentPersonne2Telephone) }}
					</div>
				</div>
		    {{ form_end(inscriptionForm) }}
	</section>
{% endblock %}
