<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&display=swap" rel="stylesheet"> 
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
            <link rel="stylesheet" href="{{ asset('css/stylesheet.css') }}">
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">
            <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <img class="d-inline-block align-middle mr-2"src="{{ asset('images/SLogo.png') }}" alt="" id="logo2">
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ path('home') }}">Acceuil</a>
        </li>
        {% if app.user is null %}
        <li class="nav-item">
          <a class="nav-link" href="{{ path('inscription') }}">Inscrivez vous</a>
        </li>
            <li class="nav-item">
          <a class="nav-link" href="{{ path('app_login') }}">Connectez vous</a>
        </li>
        {% else %}
                               <li class="nav-item">
          <p class="nav-link">  Bonjour {{ app.user.lastname }}</p>
        </li>
        {% endif %}
                <li class="nav-item">
          <a class="nav-link" href="{{ path('Projet') }}">Projet Educatif</a>
        </li>
                        <li class="nav-item">
          <a class="nav-link" href="{{ path('blog') }}">Blog</a>
        </li>

          {% if app.user %}
            <li class="nav-item">
          <a class="nav-link text-danger"  href="{{ path('app_logout') }}">deconnection</a>
        </li>
          {% endif %}
      </ul>
    </div>
  </div>
</nav>
        </footer>
        {% block body %}{% endblock %}
        <footer class="footer">
          <a href="{{ path('MentionLegales') }}">Mention Legales</a>
          <a href="{{ path('Privacy') }}"> Politique Vie Privée </a>
          <a href="">Reseau Sociaux</a>
        </footer>
    </body>
</html>
