{% extends 'base.html.twig' %}

{% block title %}Hello ArticleController!{% endblock %}

{% block body %}
    	<section class="head">
		{# <h1>Centrale
			<br>Sejours Sports</h1> #}
            <img src="{{ asset('images/Soccer.jpg') }}" alt=""> 
		<div class="article"></div>
        
		<div class="title">
			<h3>Stage Foot</h3>
			<div class="decouvrir">
				<a href="{{ path('inscription') }}">S'inscrire</a>
			</div>
			<small>Du 12 juin au 25 juillet</small>
			<p> Offrez a votre enfants un stage sur le foot, au programme, atelier technique, match, tournoi</p>
            <p>prix :</p>
		</div>

	</section>
{% endblock %}
