{% extends 'base.html.twig' %}
{% block javascripts %}
	{{parent()}}
	<script src="{{asset('js/script.js')}}"></script>
{% endblock %}
{% block title %}Sejours
{% endblock %}

{% block body %}
	<div id="Bg"></div>
	<section id="sejoursdiscover">
			<div class="sejoursCardId">
				{% for SejoursCaroussel in SejoursCaroussels %}
					{% if SejoursCaroussel.sejours.id == sejours.id  %}
						<img src="{{ asset('images/'~ SejoursCaroussel.picture) }}" alt="" class="slide sejourscardimage">
						{% else %}
					{% endif %}
				{% endfor %}
				<div class="sejourCardText1Id">
					<h3>{{ sejours.titre | raw }}
					</h3>
					<p>
						{{  sejours.ville }}
					</p>
				</div>
				<div class="sejourCardText2Id">
					<p>{{ sejours.description | raw }}</p>
					<h3 class="sansTransport">{{ sejours.prix }}
					</h3>
					<strong>
						{{ sejours.duree }}
					</strong>
					<div id="button">
						<button class="other3" id="inscriptionButon">Inscription</button>
					</div>

				</div>
		</section>
		<section>
			<div id="form" class="container">
				{{ form_start(inscriptionForm) }}
				<div class="row">
					<div class="col-6">
						{{ form_row(inscriptionForm.Nom) }}
						{{ form_row(inscriptionForm.Prenom) }}
						{{ form_row(inscriptionForm.taille) }}
					</div>
					<div class="col-6">
						{{ form_row(inscriptionForm.naissance) }}
					</div>


					<div class="col-6">
						{{ form_row(inscriptionForm.adresse) }}
					</div>
					<div class="col-6">
						{{ form_row(inscriptionForm.postal) }}
					</div>

					<div class="col-6">
						{{ form_row(inscriptionForm.ville) }}
					</div>
					<div class="col-6">
						{{ form_row(inscriptionForm.numero) }}
					</div>
					{{ form_row(inscriptionForm.mail) }}


					{{ form_row(inscriptionForm.sejours) }}
					{{ form_row(inscriptionForm.voyage) }}
					{{ form_row(inscriptionForm.transport) }}
					{{ form_row(inscriptionForm.paiement) }}
					<div class="col-6">

						{{ form_row(inscriptionForm.accidentPersonne1) }}
						{{ form_row(inscriptionForm.accidentPersonne1Prenom) }}
						{{ form_row(inscriptionForm.accidentPersonne1Telephone) }}

					</div>
					<div class="col-6">
						{{ form_row(inscriptionForm.accidentPersonne2) }}
						{{ form_row(inscriptionForm.accidentPersonne2Prenom) }}
						{{ form_row(inscriptionForm.accidentPersonne2Telephone) }}
					</div>
					<div class="col-md-6">
						{{ form_row(inscriptionForm.Envoyer) }}
						<a class="btn btn-danger mt-4 close">
							fermer
						</a>
					</div>

				</div>
				{{ form_end(inscriptionForm) }}
			</div>

		</section>

	{% endblock %}
